.component__basicbutton {
	padding: 1.2rem 2rem;
	background: #363b42;
	color: #fff;
	border: none;
	font-family: sans-bold,Arial,sans-serif;
    letter-spacing: .4px;
	width: 100%;
}

.component__basicbutton--icon {
	display:flex;
	bottom: 0;
	
}
.component__basicbutton:hover {
	background: #4c5157;
	color: #fff;

}
