.products__categories{
    margin-bottom: 2rem;
}
.products__categories__box{
    cursor: pointer;
}

label{
    margin-left: 0.5%;
}

.products__categories__box{
    margin-left: 1%;
    margin-top: 1%;
}

.products__categories__box:nth-of-type(1){
    margin-left: 0;
}
