.adminProducts {
	max-width: 140rem;
	margin: 10rem auto;
}

li.adminProducts__list__item {
	position: relative;
	border-bottom: 6px solid #e0e4e8;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.adminProducts__item__title {
	position: relative;
	display: inline-block;
    font-family: sans-medium,Arial,sans-serif;
    letter-spacing: 0.03rem;
	color: var(--main-text-color);
	font-size: 120%;
	word-break: break-all;
}

.adminProducts__item__title[data-info="show"]::before {
	content: attr(title);
	display: block;
	position: absolute;
	top: 100%;
	left: 25%;
	padding: 2rem;
	background: var(--white);
	border-radius: .5rem;
	box-shadow: 0.2rem 0.4rem 1.3rem -0.3rem rgba(0,0,0,0.75);
	font-size: 1.2rem;
	max-width: 100%;
	color: var(--main-text-color);
}


.adminProducts__list {
	margin: 2rem 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	grid-gap: 3rem;
}

.adminProducts__list__figure {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin-right: 2rem;
}

.adminProducts__list__info-wrapper {
	width: 50%;
	display: inline-block;
	margin-bottom: 3rem;
}

.adminProducts__item__image {
	width: 100%;
	object-fit: contain;
	height: 20rem;
}







.adminProducts__item__text--m1 {
	margin-bottom: 1rem;
	color: var(--jh-yellow);
}





.adminProducts__item__input{
	margin-bottom: 12rem;
	margin-left: 2rem;

}


@media only screen and (min-width: 10rem){

	.adminProducts__list__figure {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		margin-right: 0;
	}

	figure.adminProducts__list__figure {
		margin-bottom: 1.5rem;
	}

	.adminProducts__list__info-wrapper {
		width: 80%;
		margin-bottom: 1rem;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.component__basicbutton {
		left: 0;
		width:100%;
	}

	.adminProducts__item__button:hover{
		background: #f0d181;

	}

	.adminProducts__item__button{
		border: none;
		cursor: pointer;
		bottom: 0;
		/* position: absolute; */
		margin-top: auto;
	}

	.adminProducts__item__button.pib--verify::before {
		bottom: 5rem;
		left:0;
	}
	.adminProducts__item__button__info{
		padding: 1.2rem 3rem;
		background:var(--jh-yellow);
		color: var(--background-accent);
		border: none;
		font-family: sans-bold,Arial,sans-serif;
		letter-spacing: .4px;
		right: 0;
		bottom: 0;
		position: absolute;
		margin-bottom: 5.8rem;
		width: 100%;
	}

	button, .button {
		background: #ffb900;
		color: #363B42;
		padding: 1rem;
		border: none;
		cursor: pointer;
		font-weight: bold;
	}
}
