.create_user{
  padding-left: 25%;
  justify-content: center;
}
.create_user__form{
  display: grid;
  width: 50%;
}
.create_user__form__group{
  padding: 5px 16px;
  background-color: var(--white);
}

.create_user__form__group:nth-last-child(2){
  padding-bottom: 15px;
}

input{
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: none;
  background: var(--light-grey);
}

input[type=submit]{
  background-color: var(--jh-yellow);
  padding: 5px;
  margin-top: 5px;
}

input:focus {
  background-color: #ddd;
  outline: none;
}