.login{
    width: 100%;
}

.login__header{
    background-color: rgba(255, 185, 0, 1);
    width: 100%;
    position: relative;
    padding: 1rem;
}

.login__header::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 99.8%;
    height: 10rem;
    width: 100%;
    background-color: rgba(255, 185, 0, 1);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.login__header__figure{
    width: 100%;
    margin: 0 auto;
}

.login__header__img{
    width: 100%;
}

.login__header__sub-title{
    font-weight: 400;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    bottom: 40rem;
}

.login__form{
    padding-top: 15rem;
    width: 100%;

}

.login__form__group{
    position: relative;
    padding: 1rem;
}

.login__form__label{
    padding: 1rem;
    margin-left: 10%;
}

.login__form__input{
    right: 10%;
    position: absolute;
    border: 0.1rem black solid;
    padding: 0.5rem;
}

.login__form__checkbox{
    position: relative;
    margin-left: 41%;
}

.login__form__submit{
    background-color: rgba(255, 185, 0, 1);
    border: 0.1rem black solid;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-left: 50%;
    margin-top: 5rem;
    transform: translateX(-50%);
    padding: 0.5rem 6rem;
}

.login__forgot{
    text-align: center;
    margin-top: 5vh;
}

.login__forgot__p{
    padding: 1rem;
    color: rgb(60, 70, 75);
}

.login__forgot__a:link{
    color: rgb(0,150,151);
}

.login__forgot__a:hover{
    color: blue;
}

#login__error{
    background-color: rgba(255, 0, 0, 0.2);
    padding: 1rem;
    color: black;
    font-weight: 600;
    border-radius: 0.8rem;
    margin: 2rem 6rem;
    border: red 0.3rem solid;
    display: none;
    height: 100%;
    transition: 0.5s all;
}

.login__error--remove{
    animation: error_message 1s 1 normal forwards;
}

.login__error--show{
    animation: error_message 1s 1 reverse backwards;
}

@media only screen and (min-width: 26.38rem) {

    .login__header__figure{
        width: 80%;
    }

    .login__form__label{
        margin-left: 15%;
    }

    .login__form__input{
        right: 15%;
    }
}

@media only screen and (min-width: 44.44rem) {

    .login__header__figure{
        width: 50%;
    }

    .login__form__label{
        margin-left: 30%;
    }

    .login__form__input{
        right: 30%;
    }
}

@media only screen and (min-width: 72.22rem) {
    .login__form__label{
        margin-left: 40%;
    }

    .login__form__input{
        right: 40%;
    }
}

@keyframes error_message {
    from{
        opacity: 1;
        display: block;
    }
    to{
        opacity: 0;
        display: none;
    }
}