.products {
	max-width: 1000px;
	margin: 10rem auto;
	background-color: var(--background);
}

li.products__list__item {
	position: relative;
	border-bottom: 6px solid #e0e4e8;
	background-color: var(--background);
	width: 100%;
}

.products__item__title {
	position: relative;
	display: inline-block;
    font-family: sans-medium,Arial,sans-serif;
    letter-spacing: 0.03rem;
	color: var(--field);
	font-size: 120%;
}

.products__item__title[data-info="show"]::before {
	content: attr(title);
	display: block;
	position: absolute;
	top: 100%;
	left: 25%;
	padding: 2rem;
	background: var(--background);
	border-radius: .5rem;
	box-shadow: 0.2rem 0.4rem 1.3rem -0.3rem rgba(0,0,0,0.75);
	font-size: 1.2rem;
	max-width: 100%;
	color: var(--field);
}

.products__item__info-icon {
	vertical-align: baseline;
	margin-left: 1rem;
	color: var(--field);
}

.products__list {
	margin: 2rem 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 3rem;
}

.products__list__figure {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin-right: 2rem;
}

.products__list__info-wrapper {
	width: 50%;
	display: inline-block;
	margin-bottom: 3rem;
}

.products__item__image {
	width: 100%;
	object-fit: contain;
	height: 20rem;
}

.products__item__verify-required {
	font-size: 1rem;
	text-align: right;
	margin-top: .5rem;
	margin-bottom: .25rem;
}

.products__item__description {
	font-size: 1.4rem;
	margin-bottom: 1rem;
	font-family: sans-normal,Arial,sans-serif;
    letter-spacing: 0.02rem;
}

.products__item__button.pib--verify::before {
	/*content: "Goedkeuring vereist."; */
	text-align: left;
	right: 12rem;
	font-size: 1rem;
	position: absolute;
	color: black;
}
.products__item__button__info{
	padding: 1.2rem 3rem;
	background:var(--jh-yellow);
	color: var(--background-accent);
	border: none;
	font-family: sans-bold,Arial,sans-serif;
	letter-spacing: .4px;
	left: 0;
	bottom: 0;
	position: absolute;
	margin-bottom: 1rem;
	position:absolute;

}

.products__item__text--m1 {
	margin-bottom: 1rem;
	color: var(--jh-yellow);
}

.searchbar {
    position: relative;
}

.searchbar__input {
	padding: 1.5rem 1.5rem;
    border: 0.1rem solid var(--jh-yellow);
    width: 100%;
    color: var(--background-accent);
    font-weight: 600;
}

.searchbar__icon {
    position: absolute;
    right: 0;
	padding: 1.3rem;
	color: var(--background-accent);
}

.products__item__input{
	margin-bottom: 12rem;
	margin-left: 2rem;

}
.products__item__input__minus,
.products__item__input__plus,
.products__item__input__number{
	border: 1px solid #ccc;
  	height: 40px;
  	user-select: none;
	display: inline-block;
	width: 30px;
	line-height: 38px;
	background: #f1f1f1;
	color: #444;
	text-align: center;
	font-weight: bold;
	cursor: pointer;

}
.products__item__input__minus{
	border-right: none;
 	border-radius: 4px 0 0 4px;
}
.products__item__input__plus{
	border-left: none;
  	border-radius: 0 4px 4px 0;
}
.products__item__input__number{
	width: 80px;
	padding: 0 12px;
	vertical-align: top;
	text-align: center;
	outline: none;
	background-color: var(--white);
}

.pic--animation {
	animation: picAnimation .5s;
}

@keyframes picAnimation {
	from {
		color: white;
	}
	to {
		color: limegreen;
	}
}

@media only screen and (min-width: 10rem){

	.products__list {
		grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	}
	.products__list__figure {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		margin-right: 0;
	}

	figure.products__list__figure {
		margin-bottom: 1.5rem;
	}

	.products__list__info-wrapper {
		width: 80%;
		margin-bottom: 15rem;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.component__basicbutton {
		left: 0;
		width:100%;


	}

	.products__item__button.pib--verify::before {
		bottom: 5rem;
		left:0;
	}
	.products__item__button__info{
		padding: 1.2rem 3rem;
		background:var(--jh-yellow);
		color: var(--background-accent);
		border: none;
		font-family: sans-bold,Arial,sans-serif;
		letter-spacing: .4px;
		right: 0;
		bottom: 0;
		position: absolute;
		margin-bottom: 5.8rem;
		width: 100%;
	}
}
