/* Colours */
:root{
--main-text-color: #3d464b;
--main-bg-color: #ffffff;
--main-logo-color:#e32306;
--main-product-color: #e7f4f4;
--main-accent-color: #f9b800;
}
.products {
	max-width: 1000px;
	margin: 0 auto;
}

.products__item__title {
	position: relative;
	display: inline-block;
    font-family: sans-medium,Arial,sans-serif;
    letter-spacing: .3px;
	color: var(--main-text-color);
}

.products__item__title[data-info="show"]::before {
	content: attr(title);
	display: block;
	position: absolute;
	top: 100%;
	left: 25%;
	padding: 2rem;
	background: white;
	border-radius: .5rem;
	box-shadow: 2px 4px 13px -3px rgba(0,0,0,0.75);
	font-size: 1.2rem;
	max-width: 100%;
	color: var(--main-text-color);
}

.products__item__info-icon {
	vertical-align: baseline;
	margin-left: 1rem;
	color: var(--main-text-color);
}

.products__list {
	box-sizing: border-box;
	list-style-type: none;
	display: grid;
	padding: 0;
	max-width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1rem;
}

.products__list__item {
	/*margin: 2rem;*/
	height: 10rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding: 1.6rem 1.2rem;
}

.products__list__figure {
	margin: 0;
	padding: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.products__list__info-wrapper {
	width: 50%;
	display: inline-block;
	margin-left: 1rem;
}

.products__item__image {
	width: 100%;
}

.products__item__button {
	display: block;
	
}

.products__item__verify-required {
	font-size: 1rem;
	text-align: right;
	margin-top: .5rem;
	margin-bottom: .25rem;
}

.products__item__description {
	font-size: 1.4rem;
	margin-bottom: 1rem;
	font-family: sans-normal,Arial,sans-serif;
    letter-spacing: .2px;
}


.products__item__text--m1 {
	margin-bottom: 1rem;
	color: var(--main-text-color);
}

@media only screen and (min-width: 510px){

	.products__list {
		max-width: 150%;
		grid-gap: 0rem;
	}
	.products__list__figure {
		margin: 0;
		padding: 0;
		margin-left: 1rem;
		margin-right: 1rem;
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}
	
	.products__list__info-wrapper {
		width: 100%;
	}




}