.profile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile__wrapper{
    grid-column-start: 2;
}

.profile__info{
    font-size: 120%;
    margin-top: 2rem;
}

.profile__logout{
    margin-top: 4rem;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
}

.profile_bewerken{
    width: 100%;
    font-size: 80%;
    text-align: left;
    color: blue;
    border-bottom: blue 0.1rem solid;
}

.profile__form{
    grid-column-start: 2;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.profile__form__group{
    margin-top: 2rem;
    width: 80%;
}

.profile__form__label{
    text-align: left;
}

.profile__form__input{
    width: 100%;
    padding: 0.5rem;
    border: none;
}

.profile__form__button{
    margin-top: 2rem;
}

.profile__form__cancel{
    position: absolute;
    font-size: 80%;
    bottom: -2rem;
    left: 14%;
    color: blue;
    border-bottom: blue 0.1rem solid;
}

@media only screen and (max-width: 40rem) {
	.profile{
        grid-template-columns: 1fr;
    }

    .profile__wrapper{
        grid-column-start: 1;
    }

    .profile__info{
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .profile__logout{
        width: 40%;
        margin: 4rem 0 4rem 50%;
        transform: translateX(-50%);
    }
    
    .profile_bewerken{
        margin-top: 4rem;
        margin-left: 25%;
        font-size: 100%;
    }

    .profile__form{
        grid-column-start: 1;
    }
}

@media only screen and (max-width: 28rem) {
    .profile__info{
        margin-left: 20%;
        transform: translateX(0);
    }
}
